.template-container {
    height: auto;
    padding: 1px !important;
    margin: 1px !important;
}

.template-slot {
     border: 1px dotted #aaaaaa;
    min-height: 36px !important;
    padding: 1px !important;
    margin: 0 !important;
    height: auto;
}

.template-item {
    width: 100% !important;
}

p {
    min-width: 20%;
    width: auto;
    min-height: 36px;
    margin: 0 !important;
}

.template-default-button {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    height: 36px;
    margin: 1px !important;
    padding: 0 16px;
    overflow: hidden;
    font-weight: 500;
    font-size: 14px;
    line-height: 36px;
    letter-spacing: .04em;
    white-space: nowrap;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    vertical-align: middle;
    border: none;
    border-radius: 2px;
    outline: 0;
    cursor: pointer;

    background-color: #4CAF50;
    color: #FFFFFF;
}

.template-default-p {
    line-height: 36px;
    vertical-align: center;
    min-height: 36px;
    margin: 0 !important;
}
